[Desktop Entry]
Name=Password Ganerade
Comment=Terminalde çalışan şifre oluşturma uygulamanızı başlatır.
Exec=path/to/password-ganerade/run.sh
Icon=path/to/app/password-ganerade/password.png
Terminal=true
Type=Application
Categories=Utility;